<!DOCTYPE html>
<html lang="en">
<head>
    <title> N17 Mobile </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>

</head>
<body>
    <!-- header -->
    <div class="header-container">
        <div class="header">
            <div class="table-display">
                <div class="table-display-cell">
                    <div style="width: 386px;  height: 53px; ">
                        <div class="left">
                            <a href="" title="N17 Mobile Store" class="logo"><strong></strong><img style="border: 1px solid #eee;box-sizing: border-box;width:35px;" src="images/n17-logo.png" alt="N17"></a>
                        </div>
                        <div class="left">
                            <form id="search_mini_form" action="" method="get">
                                <div class="form-search">
                                    <label for="search">Search:</label>
                                    <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" autocomplete="off">
                                    <button type="submit"><i class="fa fa-search"></i></button>

                                    <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-display-cell" style="width: 100%;">
                    <div class="nav-container">
                        <ul id="nav">
                            <li class="level0 nav-1 first parent">
                                <a href="" class="level0 has-children">
                                    <i class="fa fa-mobile fa-2x"></i>
                                    <br>Điện thoại
                                </a>
                            </li>
                            <li class="level0 nav-3 parent">
                                <a href=" /hang-cu.html" class="level0 has-children">
                                    <i class="fa fa-refresh fa-2x"></i>
                                    <br>Hàng cũ
                                </a>
                            </li>
                            <li class="level0 nav-4 parent">
                                <a href=" /phu-kien.html" class="level0 has-children phu-kien-menu"><span></span>Phụ kiện</a>
                            </li>
                            <li class="level0 nav-5 parent">
                                <a href=" /do-choi-cong-nghe.html" class="level0 has-children do-choi-menu"><span></span>Đồ chơi</a>
                            </li>
                            <li class="level0 nav-6 parent">
                                <a href=" /thiet-bi-am-thanh.html" class="level0 has-children">
                                    <i class="fa fa-music  fa-2x"></i>
                                    <br>Âm thanh
                                </a>
                            </li>
                            <li class="level0 nav-8">
                                <a href=" /tra-gop-menu.html" class="level0  tra-gop-menu"><span></span>Trả góp</a>
                            </li>
                            <li class="level0 nav-10 last">
                                <a href=" /khuyen-mai.html" class="level0 ">
                                    <i class="fa fa-gift fa-2x"></i>
                                    <br>Khuyến mãi
                                </a>
                            </li>
                            <li class="level1 nav-11">
                                <a href=" /sforum" class="level1 ">
                                    <i class="fa fa-newspaper-o fa-2x"></i>
                                    <br>Tin tức
                                </a>
                            </li>
                            <li class="level1 left nav-11 pull-right">
                                <ul class="login-container">
                                    <li class="login">
                                        <a href="" class="level1 login-item" style=" padding: 0px 10px; margin: 5px;">
                                            <span>Đăng nhập</span>
                                        </a>
                                    </li>
                                    <li class="register">
                                        <a href="" class="level1 login-item" style=" padding: 0px 10px; margin: 5px;">
                                            <span>Đăng ký</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- content -->
    <div class="main-container">
        <div class="main" style="min-height: auto;">
            <div class="breadcrumbs">
                <ul>
                    <li class="home">
                        <a href="" title="Go to Home Page">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="category3">
                        Điện thoại
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel promotion-phone">
                    <div class="item" style="width: 600px;">
                        <a href="" title="TraGop_TrungVang">
                            <img class="lazyOwl" alt="" height="100" title="" width="595" src="images/16_chi_vang_cate_1902.webp" style="display: inline;">
                        </a>
                    </div>
                    <div class="item" style="width: 600px;">
                        <a href="" title="TraGop_TrungVang">
                            <img class="lazyOwl" alt="" height="100" title="" width="595" src="images/595x100.webp" style="display: inline;">
                        </a>
                    </div>
                    <div class="item" style="width: 600px;">
                        <a href="" title="TraGop_TrungVang">
                            <img class="lazyOwl" alt="" height="100" title="" width="595" src="images/ip.webp" style="display: inline;">
                        </a>
                    </div>
                    <div class="item" style="width: 600px;">
                        <a href="" title="TraGop_TrungVang">
                            <img class="lazyOwl" alt="" height="100" title="" width="595" src="images/xr_6_11.webp" style="display: inline;">
                        </a>
                    </div>
                    <div class="item" style="width: 600px;">
                        <a href="" title="TraGop_TrungVang">
                            <img class="lazyOwl" alt="" height="100" title="" width="595" src="images/Cate_Note_9_0803.webp" style="display: inline;">
                        </a>
                    </div>
                    <div class="item" style="width: 600px;">
                        <a href="" title="TraGop_TrungVang">
                            <img class="lazyOwl" alt="" height="100" title="" width="595" src="images/Cate_OPPO_0903.webp" style="display: inline;">
                        </a>
                    </div>

                </div>

                <script type="text/javascript">
                                $('.owl-carousel').owlCarousel({
                                    autoPlay: 3000, //Set AutoPlay to 3 seconds
                                    lazyLoad:true,
                                    items : 2,
                                    navigation: true,
                                    navigationText : ["<i class='fa fa-angle-left fa-2x'></i>","<i class='fa fa-angle-right fa-2x'></i>"],
                                });
                </script>
            </div>
        </div>
    </div>
    <div class="main-container col2-left-layout">
        <div class="main module">
            <div class="col-main">
                <div class="page-title category-title">
                    <h1>Điện thoại</h1>
                    <div class="tab-group">
                        <a class="mt-tabs" title="iPhone" href="https://cellphones.com.vn/mobile/apple.html">iPhone</a>
                        <a class="mt-tabs" title="Samsung" href="https://cellphones.com.vn/mobile/samsung.html">Samsung</a>
                        <a class="mt-tabs" title="Huawei" href="https://cellphones.com.vn/mobile/huawei.html">Huawei</a>
                        <a class="mt-tabs" title="Xiaomi" href="https://cellphones.com.vn/mobile/xiaomi.html">Xiaomi</a>
                        <a class="mt-tabs" title="OPPO" href="https://cellphones.com.vn/mobile/oppo.html">OPPO</a>
                        <a class="mt-tabs" title="Nokia" href="https://cellphones.com.vn/mobile/nokia.html">Nokia</a>
                        <a class="mt-tabs" title="ASUS" href="https://cellphones.com.vn/mobile/asus.html">ASUS</a>
                        <a class="mt-tabs" title="Realme" href="https://cellphones.com.vn/mobile/realme.html">Realme</a>
                        <a class="mt-tabs" title="Vsmart" href="https://cellphones.com.vn/mobile/vsmart.html">Vsmart</a>
                        <a class="mt-tabs" title="Sony" href="https://cellphones.com.vn/mobile/sony.html">Sony</a>
                        <a class="mt-tabs" title="Hãng khác" href="https://cellphones.com.vn/mobile/hang-khac.html">Hãng khác</a>
                    </div>
                    <div class="category-products lt-product-group">
                        <div class="left" style="width:100%;">
                        </div>
                        <div class="left" style="margin-right: 5px;">
                            <ul class="price-filter-link">
                                <li><strong>Chọn mức giá: </strong></li>
                                <li>
                                    <a href="https://cellphones.com.vn/mobile.html?price=1-3000000">Dưới 3 triệu</a>
                                </li>
                                <li>
                                    <a href="https://cellphones.com.vn/mobile.html?price=3000000-6000000">Từ 3 triệu - 6 triệu</a>
                                </li>
                                <li>
                                    <a href="https://cellphones.com.vn/mobile.html?price=6000000-9000000">Từ 6 triệu - 9 triệu</a>
                                </li>
                                <li>
                                    <a href="https://cellphones.com.vn/mobile.html?price=9000000-12000000">Từ 9 triệu - 12 triệu</a>
                                </li>
                                <li>
                                    <a href="https://cellphones.com.vn/mobile.html?price=12000000-">Trên 12 triệu</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right" style="margin-bottom: 10px;">
                        <div class="btn-group sort-by">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Xem nhiều : từ cao tới thấp
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="javascript:void(0)" onclick="customSetOrder(&#39;price&#39;, &#39;0&#39;)">
                                        Giá
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" onclick="customSetOrder(&#39;view_count2&#39;, &#39;1&#39;)">
                                        Xem nhiều
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" onclick="customSetOrder(&#39;date_added&#39;, &#39;2&#39;)">
                                        Mới nhất
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <script>
                                var urls = [];
                                var currentKey = 'view_count2';
                                                urls.push({
                                        asc: 'https://cellphones.com.vn/mobile.html?dir=asc&amp;order=price'.replace('&amp;', '&'),
                                        desc: 'https://cellphones.com.vn/mobile.html?dir=desc&amp;order=price'.replace('&amp;', '&')
                                    });
                                            urls.push({
                                        asc: 'https://cellphones.com.vn/mobile.html?dir=asc&amp;order=view_count2'.replace('&amp;', '&'),
                                        desc: 'https://cellphones.com.vn/mobile.html?dir=desc&amp;order=view_count2'.replace('&amp;', '&')
                                    });
                                            urls.push({
                                        asc: 'https://cellphones.com.vn/mobile.html?dir=asc&amp;order=date_added'.replace('&amp;', '&'),
                                        desc: 'https://cellphones.com.vn/mobile.html?dir=desc&amp;order=date_added'.replace('&amp;', '&')
                                    });
                                    //return false;
                                function customSetOrder(urlKey, urlIndex){
                                    if(urlKey == currentKey){
                                                        setLocation(urls[urlIndex].asc);
                                                }
                                    else{
                                        setLocation(urls[urlIndex].asc);
                                    }
                                }
                        </script>
                    </div>
                    <div class="clear"></div>
                    <div class="products-container">
                        <ul class="cols cols-5">
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/636872943529900358_samsung-galaxy-a50-trang-1.png" alt="Samsung Galaxy A50" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy A50 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">6.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/samsung-galaxy-m20-m205f-1_1_2.jpg" alt="Samsung Galaxy M20" style="width: 100%;">
                                    </a>

                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy M20 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">4.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="promotion">
                                        <p class="gift-cont">SIM 3G/4G VIETTEL ( 5GB/THÁNG) và <b>1 km</b> khác</p>
                                    </div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/636872943529900358_samsung-galaxy-a50-trang-1.png" alt="Samsung Galaxy A50" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy A50 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">6.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/samsung-galaxy-m20-m205f-1_1_2.jpg" alt="Samsung Galaxy M20" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy M20 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">4.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="promotion">
                                        <p class="gift-cont">SIM 3G/4G VIETTEL ( 5GB/THÁNG) và <b>1 km</b> khác</p>
                                    </div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/636872943529900358_samsung-galaxy-a50-trang-1.png" alt="Samsung Galaxy A50" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy A50 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">6.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/samsung-galaxy-m20-m205f-1_1_2.jpg" alt="Samsung Galaxy M20" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy M20 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">4.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="promotion">
                                        <p class="gift-cont">SIM 3G/4G VIETTEL ( 5GB/THÁNG) và <b>1 km</b> khác</p>
                                    </div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/636872943529900358_samsung-galaxy-a50-trang-1.png" alt="Samsung Galaxy A50" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy A50 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">6.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/samsung-galaxy-m20-m205f-1_1_2.jpg" alt="Samsung Galaxy M20" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy M20 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">4.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="promotion">
                                        <p class="gift-cont">SIM 3G/4G VIETTEL ( 5GB/THÁNG) và <b>1 km</b> khác</p>
                                    </div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/636872943529900358_samsung-galaxy-a50-trang-1.png" alt="Samsung Galaxy A50" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy A50 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">6.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <li class="cate-pro-short">
                                <div class="lt-product-group-image">
                                    <a href="" rel="nofollow">
                                        <img src="images/product/phone/samsung-galaxy-m20-m205f-1_1_2.jpg" alt="Samsung Galaxy M20" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="lt-product-group-info">
                                    <a href="">
                                        <h3>Samsung Galaxy M20 </h3>
                                    </a>
                                    <div class="price-box">
                                        <span class="regular-price">
                                            <span class="price">4.990.000&nbsp;₫</span>
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="promotion">
                                        <p class="gift-cont">SIM 3G/4G VIETTEL ( 5GB/THÁNG) và <b>1 km</b> khác</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="toolbar-bottom">
                        <div class="toolbar">
                            <div class="pager">
                                <div class="amount">
                                    Có <strong>206</strong> sản phẩm trong <strong>11</strong> trang
                                </div>
                                <div class="pages">
                                    <ul class="pagination">
                                        <li class="active">
                                            <a href="javascript:void(0);">1</a>
                                        </li>
                                        <li><a href="" rel="nofollow">2</a></li>
                                        <li><a href="" rel="nofollow">3</a></li>
                                        <li><a href="" rel="nofollow">4</a></li>
                                        <li><a href="" rel="nofollow">5</a></li>
                                        <li><a href="" rel="nofollow">11</a></li>
                                    </ul>
                                    <ul class="pagination" style="margin-left: 5px;">
                                        <li>
                                            <a href="https://cellphones.com.vn/mobile.html?p=2" rel="nofollow">
                                                Tiếp <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    <!-- footer -->
    <div class="footer-container">
        <div class="footer">
            <ul class="cols cols-3">
                <li>
                    <div>
                        <p style="margin-bottom: 20px;"><strong><span style="font-size: large;">Thông tin liên lạc</span></strong></p>
                        <p>
                            Gọi mua hàng:
                            <span style="font-size: large; color: #ff0000;">
                                <strong>
                                    <a href="tel:0336956600" onclick="actionFn(&#39;click-hotline&#39;)">
                                        <span style="font-size: x-large; color: #e11b1e">033 695 6600</span>
                                    </a>
                                </strong>
                            </span>
                            <span style="color: #ff0000;">
                                <span style="font-size: large; color: #ff0000;">
                                    <strong>&nbsp;<span style="color: #000000;">(Miễn phí)</span></strong>
                                </span>
                            </span>
                            <br> Khiếu nại, góp ý: <a href="tel:18002063"><strong>033 695 6600</strong></a>&nbsp;
                            <br> Thời gian phục vụ: <strong><em>8h - 22h</em></strong><br> Email: cskh_n17mobile@gmail.com
                        </p>
                    </div>
                    <div>
                        <span>Tổng đài miễn phí: <a href="tel:033 695 6600" onclick="actionFn(&#39;click-hotline&#39;)"><strong>033 695 6600</strong></a></span><br>
                        <p>
                            <a class="cps-vs" href="" rel="nofollow" title="Thẻ Visa"></a>
                            <a class="cps-mt" href="" rel="nofollow" title="Thẻ Master"></a>
                            <a class="cps-atm" href="" rel="nofollow" title="Thẻ ATM"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <p style="margin-bottom: 20px;"><strong><span style="font-size: large;">Thông tin hỗ trợ</span></strong></p>
                    <div class="left" style="width: 48%;">
                        <ul>
                            <li>
                                <a href="" rel="nofollow" title="Kiểm tra bảo hành - Dienthoaivui.com.vn" target="_blank">Kiểm tra bảo hành - sửa chữa</a>
                            </li>
                            <li>
                                <a href="" rel="nofollow" title="Quy định về việc sao lưu dữ liệu tại hệ thống cửa hàng CellphoneS và Điện Thoại Vui">Quy định về việc sao lưu dữ liệu</a>
                            </li>
                            <li>
                                <a href="" rel="nofollow" title="Chính sách bảo mật">Chính sách bảo mật</a>
                            </li>
                            <li>
                                <a href="" rel="nofollow" title="Chính sách sử dụng">Chính sách sử dụng</a>
                            </li>
                            <li>
                                <a href="" rel="nofollow" title="Hướng dẫn huỷ giao dịch, đổi trả">Hướng dẫn huỷ giao dịch, đổi trả</a>
                            </li>
                            <li>
                                <a href="" rel="nofollow" title="Hướng dẫn mua hàng trả góp online qua thẻ tín dụng">Mua hàng trả góp Online</a>
                            </li>
                            <li>
                                <a href="" rel="nofollow" title="Hướng dẫn mua hàng trả góp online qua thẻ tín dụng"></a>
                                <a href="" rel="nofollow" title="Trung tâm bảo hành điện thoại chính hãng">Trung tâm bảo hành chính hãng</a>
                            </li>
                        </ul>
                        <p>
                            <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=43180" rel="nofollow">
                                <img src="images/thongbao.webp" style="width: 100px;">
                            </a>
                        </p>
                    </div>
                    <div class="clear"></div>
        </div>
    </div>
    <!-- end footer -->
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>